# hypothesis_testing exercise

exercise 1 -------------------------
Ace Realty wants to determine whether the average time it takes to sell homes
is different for its two offices. A sample of 40 sales from office #1 revealed
a mean of 90 days and a standard deviation of 15 days. A sample of 50 sales 
from office #2 revealed a mean of 100 days and a standard deviation of 20 days.
Use a .05 level of significance.

2 offices |  is average time it takes to sell homes different for its two offices?
    H0 - 
    1) sample of 40 sales, mean of 90 days - std 15 days
    2) sample of 50 sales, mean of 100 days - std 20 days

In [48]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats
from math import sqrt

In [49]:
# example fm curriculum
xbar1 = 90 # x1.mean()
xbar2 = 100 # x2.mean()

n1 = 40 # x1.shape[0]
n2 = 50 # x2.shape[0]

s1 = 15 # x1.std()
s2 = 20 # x2.std()

degf = n1 + n2 - 2

In [50]:
s_p = sqrt(((n1 - 1) * s1**2 + (n2 - 1) * s2**2) / (n1 + n2 - 2))
s_p

17.956702977389302

In [51]:
standard_error = se = sqrt(s1**2 / n1 + s2**2 / n2)

t = (xbar1 - xbar2) / (s_p * sqrt(1/n1 + 1/n2))
t

-2.6252287036468456

In [52]:
# p test
p = stats.t(degf).sf(t) * 2

print(f't = {t:.5f}')
print(f'p = {p:.5f}')

t = -2.62523
p = 1.98979

In [20]:
%matplotlib inline
import matplotlib.pyplot as plt
from pydataset import data
import pandas as pd
import numpy as np
import seaborn as sns
from scipy import stats

mpg = data('mpg')

Exercise 2 ----------------------------
Load the mpg dataset and use it to answer the following questions:

Is there a difference in fuel-efficiency in cars from 2008 vs 1999?
Are compact cars more fuel-efficient than the average car?
Do manual cars get better gas mileage than automatic cars?

In [2]:
mpg.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [3]:
type(mpg)

pandas.core.frame.DataFrame

In [16]:
mpg.describe()

            displ         year         cyl         cty         hwy
count  234.000000   234.000000  234.000000  234.000000  234.000000
mean     3.471795  2003.500000    5.888889   16.858974   23.440171
std      1.291959     4.509646    1.611534    4.255946    5.954643
min      1.600000  1999.000000    4.000000    9.000000   12.000000
25%      2.400000  1999.000000    4.000000   14.000000   18.000000
50%      3.300000  2003.500000    6.000000   17.000000   24.000000
75%      4.600000  2008.000000    8.000000   19.000000   27.000000
max      7.000000  2008.000000    8.000000   35.000000   44.000000

In [9]:
mpg.dtypes

manufacturer     object
model            object
displ           float64
year              int64
cyl               int64
trans            object
drv              object
cty               int64
hwy               int64
fl               object
class            object
dtype: object

In [65]:
# only need manufacturer, model, year, and hwy
columns = ['manufacturer', 'model', 'year', 'cty', 'hwy']
mpg[columns].head()

  manufacturer model  year  cty  hwy
1         audi    a4  1999   18   29
2         audi    a4  1999   21   29
3         audi    a4  2008   20   31
4         audi    a4  2008   21   30
5         audi    a4  1999   16   26

In [67]:
mpg_new = mpg[columns]
mpg_new.head()

  manufacturer model  year  cty  hwy
1         audi    a4  1999   18   29
2         audi    a4  1999   21   29
3         audi    a4  2008   20   31
4         audi    a4  2008   21   30
5         audi    a4  1999   16   26

In [29]:
mpg_2008 = mpg[columns].year == 2008
# mpg[mpg_2008]

In [61]:
mpg_2008['combined_mpg'] = mpg_2008.cty + mpg_2008.hwy

AttributeError: 'Series' object has no attribute 'cty'

In [30]:
fuel_efficienchy_2008_hwy = mpg[mpg_2008].hwy.mean()
# fuel_efficienchy_2008_hwy

23.45299145299145

In [ ]:
fuel_efficienchy_2008_cty = mpg[mpg_2008].cty.mean()
# fuel_efficienchy_2008_cty

In [28]:
mpg_1999 = mpg[columns].year == 1999
# mpg[mpg_1999]

In [39]:
# fuel_efficienchy_1999 = mpg[mpg_1999].hwy.mean()
# fuel_efficienchy_1999

In [40]:
fuel_efficienchy_1999_hwy = mpg[mpg_1999].hwy.mean()
#fuel_efficienchy_1999

dtype('bool')

In [43]:
# Is there a difference in fuel-efficiency in cars from 2008 vs 1999?
   # 2 sample difference

# this is results of quick look between means - using unique models
print("2008 fuel efficiency is - ", fuel_efficienchy_2008)
print("1999 fuel efficiency is - ", fuel_efficienchy_1999)

2008 fuel efficiency is -  24.782608695652176
1999 fuel efficiency is -  26.263157894736842

NOTE to self for connecting to DB
    import pandas as pd
    from env import host, user, password
    url = f'mysql+pymysql://{user}:{password}@{host}/employees' df = pd.read_sql('SELECT * FROM employees LIMIT 5 OFFSET 50', url) print(df)

In [ ]:
xbar1 = mpg[mpg_1999].hwy.unique().mean()
xbar2 = mpg[mpg_2008].hwy.unique().mean()

n1 = x1.shape[0]
n2 = x2.shape[0]

s1 = x1.std()
s2 = x2.std()

degf = n1 + n2 - 2

s_p = sqrt(((n1 - 1) * s1**2 + (n2 - 1) * s2**2) / (n1 + n2 - 2))
s_p

standard_error = se = sqrt(s1**2 / n1 + s2**2 / n2)

t = (xbar1 - xbar2) / (s_p * sqrt(1/n1 + 1/n2))
t

p = stats.t(degf).sf(t) * 2

print(f't = {t:.5f}')
print(f'p = {p:.5f}')

# BEGIN - In Class Examples

In [68]:
mpg.trans = mpg.trans.str[:4]
mgp

NameError: name 'mgp' is not defined

In [ ]:
# below was Zach showing example in class
  # ex compact vs population

In [ ]:
pop_cty_mpg = mpg.cty.mean()

In [ ]:
auto_cty_mpg = mpg[mpg.trans == 'auto'].cty

In [ ]:
stats.ttest_1samp(auto_cty_mpg, pop_cty_mpg)

In [ ]:
t_stat, p = stats.ttest_1samp(auto_cty_mpg, pop_cty_mpg)

t_stat

In [ ]:
# another example
# Do volkswagen get better hwy mpg than avg?

# null: no diff
# alt: there is diff vs population

In [ ]:
volks_hwy_mpg = mpg[mpg.manufacturer == 'volkswagen'].hwy

In [ ]:
stats.ttest_1samp(volks_hwy_mpg, mpg.hwy.mean())

In [ ]:
# 2 sample example
# do compact or midsize cars get better city gass mileage?

In [ ]:
comp_mpg = mpg[mpg['class'] == 'compact'].cty
midsize_mpg = mpg[mpg['class'] == 'midsize'].cty

In [ ]:
type(comp_mpg), type(midsize_mpg)

In [ ]:
stats.ttest_ind(comp_mileage, midsize_mpg)

In [ ]:
mpg.groupby('class').hwy.mean()

- ttest_1samp(seq of values: list, pop_avg: float)
- ttest_ind(seq of values 1: list, sequence of values 2: list)

# END - In Class Examples

In [ ]:
# Are compact cars more fuel-efficient than the average car?
     # compact vs whole

In [ ]:
# Do manual cars get better gas mileage than automatic cars?
     # 2 samples difference

# Correlation Exercise Questions

In [76]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from math import sqrt

from scipy import stats
from pydataset import data

1 Use the telco_churn data. 
- Does tenure correlate with... 
            - monthly charges? 
            - Total charges? 
- What happens if you control for phone and internet service?

In [73]:
# ex of csv pull
   # remeber to save and rename telco as "TELCO_correlation_exercise"
telco = pd.read_csv('TELCO_correlation_exercise.csv')
telco.head(3)

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,phone svc Descipt,internet_service,internet svc Descript,contract_type,...,has_internet,has_phone_and_has_internet,partner_dependents,d2 trimmed,e2 trimmed,Partner n Dependent,Tenure for Start Date,Start Date,new mo chrges,new chrges check
0,0002-ORFBO,Female,0.0,Yes,Yes,1.0,One Line,1.0,DSL,1.0,...,True,True,5,Yes,Yes,3.0,9.0,2019-01-05,65.6,GTG
1,0003-MKNFE,Male,0.0,No,No,2.0,Two or More Lines,1.0,DSL,0.0,...,True,True,other,No,No,0.0,9.1,2019-01-04,59.9,GTG
2,0004-TLHLJ,Male,0.0,No,No,1.0,One Line,2.0,Fiber Optic,0.0,...,True,True,other,No,No,0.0,3.8,2019-06-13,73.9,GTG

In [77]:
telco.dtypes

customer_id                    object
gender                         object
is_senior_citizen             float64
partner                        object
dependents                     object
phone_service                 float64
phone svc Descipt              object
internet_service              float64
internet svc Descript          object
contract_type                 float64
contract Descript              object
payment_type                   object
monthly_charges               float64
total_charges                 float64
churn                          object
is_female                      object
has_churned                    object
has_phone                      object
has_internet                   object
has_phone_and_has_internet     object
partner_dependents             object
d2 trimmed                     object
e2 trimmed                     object
Partner n Dependent           float64
Tenure for Start Date         float64
Start Date                     object
new mo chrges                  object
new chrges check               object
dtype: object

In [80]:
type(telco)

pandas.core.frame.DataFrame

In [ ]:
  # CLASS EXAMPLE using mpg
x = mpg.hwy
y = mpg.cty

r, p = stats.pearsonr(x, y)

print(f'r = {r:.4}')
print(f'p = {p}')

In [ ]:
x = telco['Tenure for Start Date']

y1 = telco.monthly_charges
y2 = telco.total_charges

In [105]:
telco.monthly_charges.value_counts

<bound method IndexOpsMixin.value_counts of 0        65.60
1        59.90
2        73.90
3        98.00
4        83.90
5        69.40
6       109.70
7        84.65
8        48.20
9        90.45
10       45.20
11      116.80
12       68.95
13      101.30
14       45.05
15       95.75
16       61.25
17       72.10
18       62.70
19       25.10
20       25.20
21       94.10
22       83.75
23       19.85
24       20.35
25       30.50
26      103.70
27       20.40
28       19.60
29       19.70
30       91.20
31       20.45
32      115.80
33       20.55
34       39.40
35       25.10
36       89.80
37       94.75
38       20.30
39       75.75
40       49.25
41       78.20
42       25.50
43       61.60
44       45.00
45       85.15
46       51.45
47       99.25
48       44.30
49       94.20
50       81.25
51       99.95
52       91.55
53      104.50
54       95.00
55       50.35
56       64.50
57       19.40
58      104.80
59      109.40
60       50.30
61       71.40
62      116.00
63       19.85
64       99.75
65       93.95
66       90.80
67       84.35
68       58.25
69      107.55
70       19.95
71      111.20
72       40.20
73       85.80
74       35.40
75       73.85
76       88.10
77      101.35
78       45.80
79       94.65
80       20.50
81       89.40
82       86.25
83       74.85
84       89.75
         ...
6965     85.80
6966     78.45
6967     46.35
6968     60.05
6969    100.30
6970     25.55
6971     74.30
6972     55.80
6973     24.40
6974    114.30
6975     80.30
6976     94.55
6977     73.15
6978     91.35
6979     53.50
6980     25.05
6981     95.85
6982     96.80
6983     93.85
6984    106.15
6985     19.85
6986     78.35
6987     84.10
6988     94.30
6989    103.80
6990     95.30
6991     90.15
6992     80.45
6993    118.20
6994     76.80
6995    104.60
6996     49.85
6997     20.40
6998     54.40
6999     55.00
7000     20.35
7001     97.20
7002     84.45
7003     19.70
7004     99.55
7005     72.10
7006     91.75
7007     75.30
7008     75.70
7009     85.65
7010     95.10
7011     18.70
7012     74.40
7013     79.45
7014     20.30
7015     25.25
7016     60.80
7017     80.80
7018    103.95
7019    106.70
7020     96.80
7021     20.05
7022     24.40
7023     83.85
7024     19.90
7025     68.80
7026     19.70
7027    108.90
7028     19.25
7029     54.65
7030     94.00
7031     99.15
7032     19.75
7033     18.90
7034     84.95
7035     94.05
7036     70.15
7037     20.95
7038     55.15
7039     85.10
7040     50.30
7041     67.85
7042     59.00
7043       NaN
7044       NaN
7045       NaN
7046       NaN
7047       NaN
7048       NaN
7049       NaN
Name: monthly_charges, Length: 7050, dtype: float64>

In [106]:
y2.value_counts

<bound method IndexOpsMixin.value_counts of 0        65.60
1        59.90
2        73.90
3        98.00
4        83.90
5        69.40
6       109.70
7        84.65
8        48.20
9        90.45
10       45.20
11      116.80
12       68.95
13      101.30
14       45.05
15       95.75
16       61.25
17       72.10
18       62.70
19       25.10
20       25.20
21       94.10
22       83.75
23       19.85
24       20.35
25       30.50
26      103.70
27       20.40
28       19.60
29       19.70
30       91.20
31       20.45
32      115.80
33       20.55
34       39.40
35       25.10
36       89.80
37       94.75
38       20.30
39       75.75
40       49.25
41       78.20
42       25.50
43       61.60
44       45.00
45       85.15
46       51.45
47       99.25
48       44.30
49       94.20
50       81.25
51       99.95
52       91.55
53      104.50
54       95.00
55       50.35
56       64.50
57       19.40
58      104.80
59      109.40
60       50.30
61       71.40
62      116.00
63       19.85
64       99.75
65       93.95
66       90.80
67       84.35
68       58.25
69      107.55
70       19.95
71      111.20
72       40.20
73       85.80
74       35.40
75       73.85
76       88.10
77      101.35
78       45.80
79       94.65
80       20.50
81       89.40
82       86.25
83       74.85
84       89.75
         ...
6965     85.80
6966     78.45
6967     46.35
6968     60.05
6969    100.30
6970     25.55
6971     74.30
6972     55.80
6973     24.40
6974    114.30
6975     80.30
6976     94.55
6977     73.15
6978     91.35
6979     53.50
6980     25.05
6981     95.85
6982     96.80
6983     93.85
6984    106.15
6985     19.85
6986     78.35
6987     84.10
6988     94.30
6989    103.80
6990     95.30
6991     90.15
6992     80.45
6993    118.20
6994     76.80
6995    104.60
6996     49.85
6997     20.40
6998     54.40
6999     55.00
7000     20.35
7001     97.20
7002     84.45
7003     19.70
7004     99.55
7005     72.10
7006     91.75
7007     75.30
7008     75.70
7009     85.65
7010     95.10
7011     18.70
7012     74.40
7013     79.45
7014     20.30
7015     25.25
7016     60.80
7017     80.80
7018    103.95
7019    106.70
7020     96.80
7021     20.05
7022     24.40
7023     83.85
7024     19.90
7025     68.80
7026     19.70
7027    108.90
7028     19.25
7029     54.65
7030     94.00
7031     99.15
7032     19.75
7033     18.90
7034     84.95
7035     94.05
7036     70.15
7037     20.95
7038     55.15
7039     85.10
7040     50.30
7041     67.85
7042     59.00
7043       NaN
7044       NaN
7045       NaN
7046       NaN
7047       NaN
7048       NaN
7049       NaN
Name: monthly_charges, Length: 7050, dtype: float64>

In [102]:
x = telco['Tenure for Start Date']
y1 = telco.monthly_charges

r, p = stats.pearsonr(x, y1)

print(f'r = {r}')
print(f'p = {p}')

ValueError: array must not contain infs or NaNs

In [104]:
x = telco['Tenure for Start Date']
y2 = telco.monthly_charges

r, p = stats.pearsonr(x, y2)

print(f'r = {r}')
print(f'p = {p}')

ValueError: array must not contain infs or NaNs

In [ ]:
    # PRESET VALUES #
n = df.shape[0]     # number of observations
degf = n - 2        # degrees of freedom: the # of values in the final calculation of a statistic that are free to vary.
conf_interval = .95 # desired confidence interval
α = 1 - conf_interval

In [98]:
# 'Tenure for Start Date'
# monthly_charges
# total_charges

x = telco['Tenure for Start Date']

y1 = telco.monthly_charges
y2 = telco.total_charges

## Does tenure correlate with... monthly charges? 
#corr, p = stats.pearsonr(x, y1)
#corr, p

def stdev(x):
    variance = ((x - x.mean()) ** 2).sum() / n
    return sqrt(variance)

r_xy1 = (((x - x.mean()) * (y1 - y1.mean())).sum() / n) / (stdev(x) * stdev(y1))
r_xy1

In [ ]:
def stdev(x):
    variance = ((x - x.mean()) ** 2).sum() / n
    return sqrt(variance)

r_xy2 = (((x - x.mean()) * (y2 - y2.mean())).sum() / n) / (stdev(x) * stdev(y2))
r_xy2

Calculate the corresponding p-value

In [ ]:
t = (r_xy1 * sqrt(n - 2)) / sqrt(1 - r_xy1**2)
t

In [ ]:
t2 = (r_xy2 * sqrt(n - 2)) / sqrt(1 - r_xy2**2)
t2

In [ ]:
p = stats.t.sf(t, df=degf) * 2 # *2 for a two-tailed test
p

In [ ]:
p2 = stats.t2.sf(t2, df=degf) * 2 # *2 for a two-tailed test
p2

In [ ]:
p < α

In [ ]:
p2 < α

In [ ]:
## Does tenure correlate with... Total charges?? 
corr, p = stats.pearsonr(x, y2)
corr, p

2 Use the employees database.
- Is there a relationship between how long an employee
    has been with the company and their salary?
- Is there a relationship between how long an employee 
    has been with the company and the number of titles they have had?
    
# hint, use datedif

In [ ]:
# ex of sql pull
import env

url = f'mysql+pymysql://{env.user}:{env.password}@{env.host}/employees'
query = 'SELECT * FROM salaries WHERE to_date > NOW()'
salaries = pd.read_sql(query, url)
salaries

3 Use the sleepstudy data. 
- Is there a relationship between days and reaction time?

In [107]:
sleep_study = data('sleepstudy')

In [108]:
sleep_study.dtypes

Reaction    float64
Days          int64
Subject       int64
dtype: object

In [109]:
# pre-set values
n = sleep_study.shape[0]     # number of observations
degf = n - 2        # degrees of freedom: the 
                    # of values in the final calculation of a statistic that are free to vary.
conf_interval = .95 # desired confidence interval
α = 1 - conf_interval

In [110]:
# Calculate Pearson Correlation Coefficient
x = sleep_study.Days
y = sleep_study.Reaction

def stdev(x):
    variance = ((x - x.mean()) ** 2).sum() / n
    return sqrt(variance)

r_xy = (((x - x.mean()) * (y - y.mean())).sum() / n) / (stdev(x) * stdev(y))
r_xy

0.5352302262650251

In [ ]:
# Calculate the corresponding p-value

In [111]:
t = (r_xy * sqrt(n - 2)) / sqrt(1 - r_xy**2)
t

8.453663146744406

In [112]:
p = stats.t.sf(t, df=degf) * 2 # *2 for a two-tailed test
p

9.894096322214921e-15

In [113]:
p < α  # alpha is in the pre-set values

True