# hypothesis_testing exercise

exercise 1 -------------------------
Ace Realty wants to determine whether the average time it takes to sell homes
is different for its two offices. A sample of 40 sales from office #1 revealed
a mean of 90 days and a standard deviation of 15 days. A sample of 50 sales 
from office #2 revealed a mean of 100 days and a standard deviation of 20 days.
Use a .05 level of significance.

2 offices |  is average time it takes to sell homes different for its two offices?
    H0 - 
    1) sample of 40 sales, mean of 90 days - std 15 days
    2) sample of 50 sales, mean of 100 days - std 20 days

In [48]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats
from math import sqrt

In [49]:
# example fm curriculum
xbar1 = 90 # x1.mean()
xbar2 = 100 # x2.mean()

n1 = 40 # x1.shape[0]
n2 = 50 # x2.shape[0]

s1 = 15 # x1.std()
s2 = 20 # x2.std()

degf = n1 + n2 - 2

In [50]:
s_p = sqrt(((n1 - 1) * s1**2 + (n2 - 1) * s2**2) / (n1 + n2 - 2))
s_p

17.956702977389302

In [51]:
standard_error = se = sqrt(s1**2 / n1 + s2**2 / n2)

t = (xbar1 - xbar2) / (s_p * sqrt(1/n1 + 1/n2))
t

-2.6252287036468456

In [52]:
# p test
p = stats.t(degf).sf(t) * 2

print(f't = {t:.5f}')
print(f'p = {p:.5f}')

t = -2.62523
p = 1.98979

In [20]:
%matplotlib inline
import matplotlib.pyplot as plt
from pydataset import data
import pandas as pd
import numpy as np
import seaborn as sns
from scipy import stats

mpg = data('mpg')

Exercise 2 ----------------------------
Load the mpg dataset and use it to answer the following questions:

Is there a difference in fuel-efficiency in cars from 2008 vs 1999?
Are compact cars more fuel-efficient than the average car?
Do manual cars get better gas mileage than automatic cars?

In [2]:
mpg.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [3]:
type(mpg)

pandas.core.frame.DataFrame

In [16]:
mpg.describe()

            displ         year         cyl         cty         hwy
count  234.000000   234.000000  234.000000  234.000000  234.000000
mean     3.471795  2003.500000    5.888889   16.858974   23.440171
std      1.291959     4.509646    1.611534    4.255946    5.954643
min      1.600000  1999.000000    4.000000    9.000000   12.000000
25%      2.400000  1999.000000    4.000000   14.000000   18.000000
50%      3.300000  2003.500000    6.000000   17.000000   24.000000
75%      4.600000  2008.000000    8.000000   19.000000   27.000000
max      7.000000  2008.000000    8.000000   35.000000   44.000000

In [9]:
mpg.dtypes

manufacturer     object
model            object
displ           float64
year              int64
cyl               int64
trans            object
drv              object
cty               int64
hwy               int64
fl               object
class            object
dtype: object

In [18]:
# only need manufacturer, model, year, and hwy
columns = ['manufacturer', 'model', 'year', 'hwy']
mpg[columns].head()

  manufacturer model  year  hwy
1         audi    a4  1999   29
2         audi    a4  1999   29
3         audi    a4  2008   31
4         audi    a4  2008   30
5         audi    a4  1999   26

In [29]:
mpg_2008 = mpg[columns].year == 2008
# mpg[mpg_2008]

In [30]:
fuel_efficienchy_2008 = mpg[mpg_2008].hwy.mean()
# fuel_efficienchy_2008

23.45299145299145

In [42]:
fuel_efficienchy_2008 = mpg[mpg_2008].hwy.unique().mean()
#fuel_efficienchy_2008

In [28]:
mpg_1999 = mpg[columns].year == 1999
# mpg[mpg_1999]

In [39]:
# fuel_efficienchy_1999 = mpg[mpg_1999].hwy.mean()
# fuel_efficienchy_1999

In [40]:
fuel_efficienchy_1999 = mpg[mpg_1999].hwy.unique().mean()
#fuel_efficienchy_1999

In [43]:
# Is there a difference in fuel-efficiency in cars from 2008 vs 1999?
print("2008 fuel efficiency is - ", fuel_efficienchy_2008)
print("1999 fuel efficiency is - ", fuel_efficienchy_1999)

2008 fuel efficiency is -  24.782608695652176
1999 fuel efficiency is -  26.263157894736842

NOTE to self for connecting to DB
    import pandas as pd
    from env import host, user, password
    url = f'mysql+pymysql://{user}:{password}@{host}/employees' df = pd.read_sql('SELECT * FROM employees LIMIT 5 OFFSET 50', url) print(df)

In [ ]:
import env

url = f'mysql